<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.bookview">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.bookview.MainActivity">
            </meta-data>
        </activity>
        <activity android:name=".AuthorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.bookview.MainActivity">
            </meta-data>
        </activity>
        <activity android:name=".WishlistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.bookview.MainActivity">
            </meta-data>
        </activity>
        <activity android:name=".BookResultsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.bookview.MainActivity">
            </meta-data>
        </activity>
    </application>

</manifest>